{% extends "base.html" %}
{% block page_content %}
{% block title %}添加会议{% endblock %}

<form class="form-horizontal" method="post">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">会议名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="ConferenceName" autofocus="" required="required">
      </div>
    </div>
    <div class="form-group">
      <label for="introduction" class="col-sm-2 control-label">会议摘要</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="spot" name="spot" autofocus="" required="required" cols=40 rows=8></textarea>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
    <label for="name" class="col-sm-2 control-label">链接</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="link" name="link" placeholder="Link" autofocus="" required="required">
	  </div>
    </div>
    <br />
    <div class="form-group">
      <label for="starttime" class="col-sm-2 control-label">开始时间</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="starttime" name="starttime" required="required">
      </div>
    </div>

    <div class="form-group">
      <label for="endtime" class="col-sm-2 control-label">结束时间</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="endtime" name="endtime" required="required">
      </div>
    </div>

	<center><input class="btn btn-default btn-lg" type="submit" value="提交"></center>
</form>

{% endblock %}