{% extends "base.html" %}
{% block title %}管理课题{% endblock %}
{% block page_content %}

{% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
<h1 text-align: center;><a class="btn btn-default btn-lg" href="{{url_for('project.add_project')}}">添加课题</a></h1>
{% endif %}
<h1 text-align: center;>课题列表</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>课题名称</th>
      <th>更新进展</th>
      <th>增删团队</th>
      {% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
      <th>删除</th>
      {% endif %}
      
    </tr>
  </thead>
  <tbody>
  	{% for x in project %}
    <tr>
      <td><a href="#">{{x.name}}</a></td>
      <td><a href="{{url_for('project.update_project',id=x.id)}}">更新进展</a></td>
      <td><a href="{{url_for('project.edit_project',id=x.id)}}">增删团队</td>
      {% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
      <td><a href="{{url_for('project.delete_project',id=x.id)}}">删除</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}