{% extends "base.html" %}
{% block title %}通知公告{% endblock %}
{% block page_content %}

{% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
<h1 text-align: center;><a class="btn btn-default btn-lg" href="{{url_for('notice.edit_notice')}}">添加公告</a></h1>
{% endif %}
<h1 text-align: center;>通知公告</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      {% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
      <th>删除</th>
      {% endif %}
      <th class="fr">时间</th>
    </tr>
  </thead>
  <tbody>
  	{% for x in notice %}
    <tr>
      <td><a href="{{url_for('notice.notice',id=x.id)}}">{{x.title}}</a></td>
      {% if current_user.authorization == "generalad" or current_user.authorization == "superad" %}
      <td><a href="{{url_for('notice.delete_notice',id=x.id)}}">删除</a></td>
      {% endif %}
      <td class="fr">{{ x.time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}